{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 5 versions", "safari >= 7"]
      }
    }],
    // "flow-vue",
    "latest",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    // "syntax-dynamic-import",
    // "transform-object-assign",
    // "transform-object-rest-spread",
    // "transform-vue-jsx",
    "transform-runtime"
  ],
  "env": {
    "test": {
      // "plugins": [ "istanbul" ]
    }
  },
  "comments": false,
  "ignore": [
    // "packages/**/*.js",
    "dist/*.js"
  ]
}
