
@import './var.scss';

.clearfix {
  @include clearfix;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  font-size: 100px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// 单页面应用设置
html,
body,
.page,
#app {
  height: 100%;
}

body {
  // ppi 同样尺寸机型，一直是提升的，比如6和6s 就不一样
  // ip6:       667*375(4.7" dpi) 1280×960 6s 1704×960
  // ip6plus:   736*414(5.5" dpi) 1920*1080
  // ipad:      1024*768(1K)
  // ipad pro:  1366*1024
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

//屏幕像素密度 针对 ratio 屏幕
@media all and (min-resolution: 150dpi) {
  body {
    max-width: 1024px;
  }
}

// [data-dpr="1"] body {
//   max-width: 1024px;
// }
// [data-dpr="2"] body {
//   max-width: 1024px;
// }
// [data-dpr="3"] body {
//   max-width: 1024px;
// }

body {
  font-size: 14px;
  line-height: 1.5;
  min-width: 280px;

  color: $body-color;
  background: $body-bg;

  // 背侧不透视
  backface-visibility: hidden;

  // 处理内容修饰 break 问题（如文本添加修饰圆角边框，换行会打断此修饰的连续性）
  // box-decoration-break: clone
}

// 纤细字体
body, input, textarea, select, button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

img {
  vertical-align: middle;
}

abbr[title],
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted $gray-6;
}

address {
  margin-bottom: 16px;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 16px;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 8px;
  margin-left: 0; // Undo browser default
}

blockquote {
  margin: 0 0 16px;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

th {
  text-align: left;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  box-sizing: inherit;
  // https://github.com/twbs/bootstrap/issues/11586.
  -webkit-appearance: none;
}

[hidden] {
  display: none !important;
}

a,
a:hover {
  text-decoration: none;
}

.is-fixed {
  transform: translateZ(0);
}

dfn.price,
del.price {
  font-style: normal;

  &::before {
    content: '￥';
  }
}

dfn.price {
  font-weight: 500;
  color: $color-price;
}

del.price {
  color: $gray-6;
}

