
@import './var.scss';

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// 纤细字体
body, input, textarea, select, button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  box-sizing: inherit;
  // https://github.com/twbs/bootstrap/issues/11586.
  -webkit-appearance: none;
}

[hidden] {
  display: none !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #fff;
  color: #333;
  font-size: 12px;
  line-height: 1.5;

  // 背侧不透视
  backface-visibility: hidden;
}

a,
a:hover {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.is-fixed {
  transform: translateZ(0);
}

dfn.price,
del.price {
  font-style: normal;

  &::before {
    content: '￥';
  }
}

dfn.price {
  font-weight: 500;
  color: $color-price;
}
del.price {
  color: $gray-6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
