

/**
 * gray 灰度色阶(美语 gray;英语 grey;)
 * 所有的灰度值收纳为 gray-N N 个级别，现在使用的有 1 4 8 9
 *
 * 字体颜色：
      默认正文  #252525
      次重点文字 #666666 #959595
      禁用或更淡化的文字   #e2e2e2;
 * 边线：  #e2e2e2
 * 背景色  #fafaf8
 * 价格    #FF5555
 * header rgba(255, 238, 17, 0.9) #914E07
 * 链接    #3b99fc
 * 半透明色 rgba(0, 0, 0, .4) rgba(0, 0, 0, .6)
 */
$gray-1: #fafaf8; //rgb(250, 250, 248); #fbfbfb;
$gray-2: #f7f7f7;
$gray-3: #f5f5f5;
$gray-4: #e2e2e2; //rgb(226, 226, 226); #e9e9e9;
$gray-5: #d8d8d8; //rgb(216, 216, 216); #d9d9d9;
$gray-6: #bfbfbf;
$gray-7: #959595; //rgb(149, 149, 149); #919191;
$gray-8: #666666; //rgb(102, 102, 102); #5a5a5a
$gray-9: #252525; //rgb(37, 37, 37);    #404040;

$gray: $gray-6;
// $gray: grey;

$white: white;
$black: black;
