
// 变量

@import './helper/mixins.scss';
@import './gray.scss';

$body-bg: $white;
$body-color: #333;

$header-color: #914e07;
$header-background: rgba(255,238,17,.9);

$color-price: #FF5555;
$color-blue: #3b99fc;

